@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">
    <h1 class="display-4">catalin asp.net</h1>
    <p>date and time today:  @DateTime.Now</p>
    <p>To create a new asp.net app, open the terminal and type: <span style="color: blue">dotnet new webapp -o appname</span></p>
    <p>To run the app: <span style="color: blue">dotnet watch run</span></p>
</div>
