html {
  font-size: 62.5%;
}

h1 {
  font-size: 2.5rem;
  text-transform: capitalize;
  text-decoration: underline;
  /* horizontal offset, vertical offset, blur radius, base color of shadow */
  text-shadow: 1px 1px 2px #444;
  text-align: center;
  font-weight: 300;
}

p {
  font-family: Helvetica, Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  text-align: left;
  color: #333;
  /* recommended values between 1.5 and 2 (2 is double space - another p can fill in the gap) */
  line-height: 1.6;
  letter-spacing: 1.5px;
  word-spacing: 1.3px;
}
