html {
  font-family: sans-serif;
}

/* Your CSS below here */
p {
  background: linear-gradient(
      120deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    red;
  color: red;
  text-shadow: 1px 1px #333;
  width: 10rem;
  padding: 1rem;
  text-align: center;
  filter: drop-shadow(4px 4px 7px #333);
  border-radius: 10px;
  border: 1px solid #700404;
}
