:root {
  --primary-color: hsl(322, 100%, 66%);
  --pale-cyan: hsl(193, 100%, 96%);
  --dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins";
  font-weight: 600;
}

a {
  /* text-decoration: none; */
  color: #fff;
}

p {
  font-weight: 400;
}

img {
  max-width: 100%;
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  background: url("./images/bg-hero-desktop.svg"), var(--pale-cyan);
  margin-bottom: 10%;
}

.header__container__top {
  display: flex;
  justify-content: space-between;
  padding-top: 3%;
}

.header__container__logo {
  width: 15%;
}

.button {
  border: none;
  border-radius: 40px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.15);
  padding: 10px 35px;
}

.button--secondary {
  background-color: #fff;
  color: var(--dark-cyan);
  font-weight: 700;
}

.button--primary {
  background-color: var(--primary-color);
  color: #fff;
  font-weight: 700;
}

.header__container__content {
  padding-top: 5%;
  display: flex;
  align-items: center;
}

.box {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 5% 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-container-left {
  width: 40%;
}

.main-container-right {
  width: 40%;
}

.main__content__container {
  display: grid;
  grid-template-columns: 100%;
  gap: 100px;
}

.main {
  margin-bottom: 10%;
}

.section__cta {
  height: 250px;
}

.section__cta__container {
  background-color: #fff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.15);
  width: 50%;
  margin: 0 auto;
  padding: 5%;
  text-align: center;

  position: relative;

  top: 40%;
  z-index: 2;
}

.footer {
  background-color: var(--dark-cyan);
  color: #fff;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__col {
  flex: 1 1 0;
  padding: 10% 0 5% 10%;
}

.footer__col > img {
  color: #fff;
}

@media only screen and (max-width: 500px) {
  .header__container__content {
    flex-direction: column;
    gap: 5vh;
  }

  .box {
    flex-direction: column;
  }

  .main-container-left {
    width: 100%;
  }

  .main-container-right {
    width: 100%;
  }

  .footer__container {
    flex-direction: column;
  }

  .footer__col {
    padding: 10px 0 0 0;
  }

  .footer__col:first-of-type {
    padding-top: 20vh;
  }
}
