<section class="login-container">
  <form class="login-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <mat-form-field>
      <input
        type="email"
        name="email"
        email
        required
        placeholder="Email"
        matInput
        ngModel
        #emailInput="ngModel"
      />
      <mat-error *ngIf="emailInput.hasError('required')"
        >Field must be completed</mat-error
      >
      <mat-error *ngIf="!emailInput.hasError('required')"
        >Email is invalid</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        type="password"
        name="password"
        placeholder="Password"
        required
        matInput
        matHint
        ngModel
        #passwordInput="ngModel"
      />
      <mat-error *ngIf="passwordInput.hasError('required')"
        >Password is required</mat-error
      >
    </mat-form-field>
    <button
      *ngIf="!isLoading(); else loadingSpinner"
      type="submit"
      [disabled]="form.invalid"
      mat-raised-button
      color="primary"
    >
      Login
    </button>
    <ng-template #loadingSpinner
      ><app-spinner [mode]="'indeterminate'" [value]="0"></app-spinner
    ></ng-template>
  </form>
</section>
