<h4 class="display-4 mb-5 mt-2">Detailed information about {{ event.name }}</h4>

<div class="card mb-3">
  <div class="row g-0">
    <img
      [src]="event?.imageUrl"
      class="card-img-top"
      alt="..."
      style="max-height: 300px; max-width: 300px; display: block"
    />
    <div class="col-md-12">
      <div class="card-body">
        <h5 class="card-title">{{ event.name }}</h5>
        <div class="card-text">
          <p class="mb-1">{{ event.date }}</p>
          <p class="mb-1">{{ event.time }}</p>
          <p class="mb-1">${{ event.price }}</p>
        </div>
        <p class="card-text">
          <small class="text-muted">
            <p class="mb-1" *ngIf="event.location">
              {{ event.location?.country }}, {{ event.location?.city }},
              {{ event.location?.address }}
            </p></small
          >
        </p>
        <p class="card-text lead">Sessions:</p>
        <ul class="list-group mb-5" *ngFor="let session of event.sessions">
          <li class="list-group-item">Session name: {{ session?.name }}</li>
          <li class="list-group-item">Presenter: {{ session?.presenter }}</li>
          <li class="list-group-item">
            Duration: {{ session?.duration }} hours
          </li>
          <li class="list-group-item">Level: {{ session?.level }}</li>
          <li class="list-group-item">Description: {{ session?.abstract }}</li>
          <li class="list-group-item">Voters: {{ session?.voters }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
