<div class="w-full h-[calc(100vh-70px)] overflow-y-hidden relative">
  <iframe [src]="videoUrl" frameborder="0" class="w-full h-full"></iframe>

  <div
    class="absolute top-0 py-[20%] px-8 w-full text-white bg-gradient-to-r from-black flex flex-col gap-5"
  >
    <div class="w-2/5 flex flex-col gap-5">
      <h1 class="text-6xl font-bold">{{ heroDetails.original_title }}</h1>
      <p>{{ heroDetails.overview }}</p>
    </div>
    <div class="flex">
      <button
        class="bg-white bg-opacity-90 hover:bg-opacity-70 text-black text-xl rounded-lg px-12 py-4"
      >
        <img src="../../assets/play.png" alt="play" width="25" class="inline" />
        Play
      </button>
      <button
        class="ml-2 bg-gray-400 bg-opacity-70 hover:bg-opacity-50 text-white text-xl px-12 py-4 rounded-lg"
      >
        More info
      </button>
    </div>
  </div>
</div>

<div>
  {{ videoUrl }}
</div>
