html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.card {
  width: 50%;
  height: 30rem;
  margin: auto;
  margin-top: 10rem;
  font-size: 1.4rem;
  background-color: lightblue;
  color: #fff;
  border-radius: 20px;
}

.card > header {
  font-size: 2rem;
  padding: 10px;
}

.card > header > h2 {
  margin: 0;
}

.card > article {
  background-color: #efefef;
  color: #000;
  height: 60%;
  width: 100%;
}

.card > article > p {
  margin: 0;
  padding: 1rem;
  line-height: 2.2rem;
}

.card > article > img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  float: right;
}

.card > footer {
  padding: 0.5rem;
}

.card > footer > p {
  margin: 0;
  font-size: 1.8rem;
  padding: 1rem;
}
