html {
  font-family: sans-serif;
}

body {
  width: 70%;
  max-width: 960px;
  margin: 20px auto;
}

button {
  font-size: 18px;
  line-height: 1.5;
  width: 15%;
}

div {
  height: 100px;
  border: 1px solid black;
}

/* Add your flexbox CSS below here */
div {
  display: flex;

  /* align-items controls where the flex items sit on the cross axis */
  /* default is align-items: stretch, which fills container on cross axis */
  /* other options are flex-start and flex-end */
  align-items: center;

  /* justify-content controls where the flex items sit on the main axis. */
  /* default is justify-content: flex-start */
  /* other options are: space-between, space-around, flex-end, center */
  justify-content: space-around;
}

/* align-self overwrites align-items for individual flex items */
/* button:first-child {
  align-self: flex-start;
}
button:nth-child(2) {
  align-self: flex-end;
} */

button:first-child {
  /* default is order: 0 */
  /* the higher the value, the more to the end (right) flex items are posititoned */
  /* this will move the first flex item all the way to the right (end) */
  order: 1;
}
