<div class="card">
  <div class="card-header">
    <!-- ? == safe navigation operator and guards against null and undefined values when working with object properties. if the property is null or undefined the safe nav operator returns null and doesn't attempt to access the property so it avoids an error-->
    <!-- the problem with the safe nav operator is that it doesnt work when used with the ngModel two way binding and it's quiet tedious when we display many properties -->
    <!-- {{ pageTitle + ": " + product?.productName }} -->

    <!-- another option is to use ngIf and check whether the product property is defined -->
    <!-- we add the ngIf to an HTML element that encloses all references to the product object. if the product is undefined this element and all of its children will not appear in the DOM so it wont attempt to retrieve properties of an undefined product -->

    <!-- we can also use a combination of the two, we always want to display the title so we don't want an ngIf hiding this element and we'll use the safe navigation operator for the pageTitle instead -->
    {{ pageTitle + ": " + product?.productName }}
  </div>

  <!-- <div class="card-body" ngIf="product"></div> -->

  <div class="card-footer">
    <button
      class="btn btn-outline-secondary"
      style="width: 80px"
      (click)="onBack()"
    >
      <i class="fa fa-chevron-left"></i> Back
    </button>
  </div>
</div>
