<header
  class="sticky top-0 h-[70px] z-1 bg-gray-900 flex items-center justify-between px-10"
>
  <div class="flex gap-5">
    <img src="../../assets/netflix-logo.png" alt="logo" class="w-32" />
    <ul class="flex items-center" *ngFor="let item of navList">
      <li
        class="text-neutral-200 cursor-pointer text-sm font-extralight hover:text-gray-400 transition-[1s]"
      >
        {{ item }}
      </li>
    </ul>
  </div>

  <div class="text-white flex items-center gap-4">
    <div class="flex gap-2 items-center">
      <img [src]="userImg" alt="profile image" class="w-10" />
      <a href="/" class="">Welcome <strong>Leo</strong></a>
    </div>
    <div>|</div>
    <button (click)="signOut()">Sign out</button>
  </div>
</header>
