<section class="new-training">
  <form (ngSubmit)="onTrainingStart(form)" #form="ngForm">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Start workout</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field>
          <mat-label>Choose an option</mat-label>
          <mat-select name="exercise" ngModel>
            <mat-option
              *ngFor="let exercise of exercises$ | async"
              [value]="exercise.id"
              >{{ exercise.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button class="btn" mat-button type="submit">Start</button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
