body {
  font-family: 'Roboto';
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.u-center-text {
  text-align: center;
}

.medium-vertical-padding {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.hero {
  background-color: #23424a;
  color: #fff;
}

.container {
  margin: 0 auto;
  width: 80%;
}

.hero__text {
  max-width: 1000px;
  /* same as width: 50%, default value for flex-basis is auto which is content width */
  flex-basis: 50%;
}

.hero__text > h1 {
  font-size: 3rem;
}

.hero__text > p {
  line-height: 1.7;
  font-size: 1.2rem;
}

.hero__cta {
  display: inline-block;
  background-color: #38cfd9;
  padding: 1.2rem;
  border-radius: 30px;
  text-transform: uppercase;
}

.hero__cta > a {
  color: #23424a;
  font-size: 1.25rem;
  font-weight: 700;
}

.d-flex {
  display: flex;
}

.hero-container {
  align-items: center;
}

.hero__image {
  /* same as width: 50%, default value for flex-basis is auto which is content width */
  flex-basis: 50%;
}
