* {
  box-sizing: border-box;
}

.container {
  width: 50%;
  margin: 5% auto;
  font-family: "Inter", sans-serif;
  color: #deebf8;
  overflow: hidden;
}

img {
  max-width: 100%;
}

.nav__container {
  background-color: #21222a;
}

.nav__container__inner {
  width: 90%;
  margin: 0 auto;
}

.nav__flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-item {
  display: flex;
  align-items: center;
  gap: 2%;
}

.item:last-child {
  font-weight: 600;
}

.logo-text {
  color: #61dafb;
}

.header__container {
  background-color: #282d35;
}

.header__container__inner {
  width: 90%;
  margin: 0 auto;

  padding: 5% 0 5% 0;
}

.header__flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__flex-container > ul {
  width: 70%;
}

.header__flex-container > div {
  width: 30%;
  margin-right: -8%;
}

h1 {
  margin: 0;
}

ul {
  padding-bottom: 5%;
}

li {
  padding: 1rem 0 1rem 0;
}

li::marker {
  font-size: 1.8rem;
  color: #61dafb;
}
