.flex {
  display: flex;

  app-sidebar {
    width: 30%;
  }
}

.content {
  width: 70%;
}

.vertical-line {
  border-left: 1px solid #ccc;
  position: fixed;
  top: 0;
  left: 300px;
  height: 100vh;
}
