/* 

General spacing techiques for lists: line-height

List-specific styles: 
    list-style-type
    list-style-position
    list-style-image

*/

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 62.5%;
}

h2 {
  font-size: 2rem;
}

/* 
List-specific styles: 
    list-style-type
    list-style-position
    list-style-image 
*/
ol {
  list-style-type: upper-roman;
  /* 
    inside
    The ::marker is the first element among the list item's contents.

    outside
    The ::marker is outside the principal block box. 
*/
  list-style-position: inside;
}

ul {
  /* list-style-type: circle; */
  list-style-type: '👍';
}

ul li {
  /*
    can also use list-style-image but its limited in terms of controlling the position, size etc, background is better 
    need to use list-style-type: none on ul so the bullets dont appear for this to work
  */
  background-image: url(star.svg);
  background-position: 0 0;
  background-size: 1.6rem 1.6rem;
  background-repeat: no-repeat;
}

/* General spacing techiques for lists: line-height */
li,
p {
  line-height: 1.5;
}

/* list style long */
/* ul {
  list-style-type: square;
  list-style-image: url(example.png);
  list-style-position: inside;
} */

/* list style short */
/* ul {
  list-style: square url(example.png) inside;
} */

ul,
ol,
dl,
p {
  font-size: 1.5rem;
}

dd,
dt {
  line-height: 1.5;
}

dt {
  font-weight: bold;
}
