@import "tailwindcss";

body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
}

* {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
