.accordionContainer {
  width: 50%;
  margin-inline: auto;
  margin-block-start: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordionItem {
  margin-block: 2rem;
  border-radius: 20px;
  padding: 1rem;
  background-color: chocolate;
  color: #eee;
  cursor: pointer;
}

.accordionDesc {
  max-height: 0;
  opacity: 0;
  transition: all ease-in-out 0.4s;
}

.open {
  max-height: 200px;
  opacity: 1;
  transition: all ease-in-out 0.4s;
}

.enableMulti {
  background-color: chocolate;
  border-radius: 30px;
  font-size: 1.1rem;
  padding: 1rem 1.5rem;
  color: #eee;
  cursor: pointer;
}
